name: gym_guide
description: "A new Flutter project."
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.6.0

dependencies:
  firebase_core: ^4.3.0
  flutter:
    sdk: flutter
  shared_preferences: ^2.2.2
  table_calendar: ^3.0.11
  firebase_auth: ^6.1.3
  google_sign_in: ^6.2.3
  provider: ^6.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/gifs/
